html, body {
	font-family: "Helvetica Neue", Arial, Sans;
	color: #e1f4fd;
}

/* Header */

.title {
	margin-bottom: 20px;
}

header {
	background-color: rgba(0, 0, 0, 0.7);
	width: 280px;
	height: 130px;
	font-size: 19pt;
	font-weight: 500;
	letter-spacing: 1px;
}

header * {
	margin: 0 25px;
}

header *:first-child {
	padding-top: 20px;
}

/* Nav */

nav li {
	background-color: #e1f4fd;
	border: 1px solid rgba(0, 0, 0, 0.7);
	width: 90%;
	height: 22px;
	margin-bottom: 12px;
	font-weight: bold;
	font-size: .9em;
}

nav li a {
	width: 100%;
	height: 100%;
	padding-top: 2px;
	display: inline-block;
	text-indent: 5px;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.8);
}

/* Main */

.main .events {
	background-color: black;
	padding: 15px;
}

.main .events img {
	margin-bottom: 70px;
	margin-right: 10px;
}

.main .events .description {
	width: 300px;
	display: inline-block;
}

.main .news {

}

/* Footer */

footer {
	height: 50px;
	background-color: rgb(243, 112, 33);
	font-size: 10px;
}